.cardContainer {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 0px;
	.card {
		width: 100%;
		max-width: 1185px;
		min-width: 0;
		height: auto;
		min-height: auto;
		max-height: 610px;
	}
}

@media (max-width: 1280px) {
	.cardContainer .card {
		max-width: 100vw;
		max-height: auto;
	}
}

@media (max-width: 900px) {
	.cardContainer .card {
		max-width: 100vw;
		max-height: auto;
	}
}

@media (max-width: 600px) {
	.cardContainer .card {
		max-width: 100vw;
		max-height: auto;
	}
}
